In [16]:
import pyodbc
import pandas as pd

In [17]:
conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=MUNEEBS-PC\\BARTENDER;"
    "DATABASE=SampleSalesDB;"
    "Trusted_Connection=yes;"
)

In [21]:
query = "SELECT * FROM dbo.sales_data_sample"
df = pd.read_sql(query, conn)

print(df.head())

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH ORDERLINENUMBER    SALES  \
0        10107               30      95.70               2  2871.00
1        10121               34      81.35               5  2765.90
2        10134               41      94.74               2  3884.34
3        10145               45      83.26               6  3746.70
4        10159               49     100.00              14  5205.27

         ORDERDATE   STATUS QTR_ID MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped      1        2     2003  ...
1    5/7/2003 0:00  Shipped      2        5     2003  ...
2    7/1/2003 0:00  Shipped      3        7     2003  ...
3   8/25/2003 0:00  Shipped      3        8     2003  ...
4  10/10/2003 0:00  Shipped      4       10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue          None            NYC    NY
1             59 rue de l'Abbaye          None          Reims  None
2  27 rue du Colonel Pierre Avia          None          Paris  None
3             78934 Hillside Dr.          None       Pasadena    CA
4                7734 Strong St.          None  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA        NA              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA        NA           Young            Julie   Medium
4       None     USA        NA           Brown            Julie   Medium

[5 rows x 25 columns]

C:\Users\munee\AppData\Local\Temp\ipykernel_17232\2308222493.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)