**IMPORTS**

In [16]:
#All imports
import pyodbc
import pandas as pd
from numpy import int64

**FETCH DATA FROM SQL SERVER**

In [17]:
#Connect to SQL database using 'pyodbc' 
conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=MUNEEBS-PC\\BARTENDER;"
    "DATABASE=SampleSalesDB;"
    "Trusted_Connection=yes;"
)

#Query all the data from database and store in pandas
query = "SELECT * FROM dbo.sales_data_sample"
df = pd.read_sql(query, conn)
# print(df.head())

C:\Users\munee\AppData\Local\Temp\ipykernel_3988\1936504081.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

**HANDLE NULL VALUES**

In [18]:
'''
HANDLING NULL VALUES
'''
#Check and Remove null values
df = df.fillna("")
# print(df.isnull().sum())

#Combine addressline1 and addressline2 to make new column ADDRESS
df["ADDRESS"] = df["ADDRESSLINE1"] + " " + df["ADDRESSLINE2"]

#Drop the column ADDRESSLINE1 AND ADDRESSLINE2
df = df.drop(columns=["ADDRESSLINE1", "ADDRESSLINE2"])

**VALIDATE DATATYPES**

In [19]:
# Get all column names and their datatypes
# print(df.dtypes)

#Change dtype of month_id to int and orderDate to datetime
df["MONTH_ID"] = df["MONTH_ID"].astype(int64)
df["ORDERDATE"] = pd.to_datetime(df["ORDERDATE"])